@font-face {
    font-family: 'Geometria-700';
    src: url('Geometria-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}
   
@font-face {
    font-family: 'Geometria-300';
    src: url('Geometria-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}
 